{% extends 'base/index.html' %}
{% block main %}
<br>

  <div class="col s12 m12 l12 offset-l4 z-depth-2 center">
    <br>
    <h3>Recupera tu Contraseña</h3>
    <form class="login-form" method="POST">
      {% csrf_token %}
      <div class="row" style="margin-right: 20px; margin-left: 20px;">
        <div class="input-field col s12 m12 l12">
          {{form.email}}
          <label for="">Ingrese su Email...</label>
          <button class="btn green" type="submit" name="action"
            style="background-color: #315e85;">Enviar
          </button>
        </div>
      </div>
    </form>
 
</div>
{% endblock main %}